<nav id="pagination" class="pagination" role="pagination">
	<div class="inner">
	    {{#if prev}}
	        <a class="pagination-item pagination-next" href="{{page_url prev}}"><i class="icon-arrow-left"></i> <span>Recientes</span></a>
	    {{/if}}
	    <span class="pagination-info">Página {{page}} de {{pages}}</span>
	    {{#if next}}
	        <a class="pagination-item pagination-prev" href="{{page_url next}}"><span>Anteriores</span> <i class="icon-arrow-right"></i></a>
	    {{/if}}
	    <div class="clear"></div>
	</div>
</nav>